#paper{
  width: 100%;
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid lavender;
}

#paper{
  overflow-y: scroll;
}

#paper::-webkit-scrollbar {
  width: 10px;
}

#paper::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

#paper::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-image: linear-gradient(180deg, #845EC2 20%, #FBEAFF 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
